@model Store.Models.User



@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Name, new { @class = "col - sm - 2 col - form - label" })
        <div class="col-sm-10">
            @Html.EditorFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(model => model.Password, new { @class = "col - sm - 2 col - form - label" } )
        <div class="col-sm-10">
            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}


