@model Store.Models.Book
@using Store.CustomHtmlHelpers;
@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Book Details</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Format)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Format)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.BookStar)
                        </dt>
                        <dd class="col-sm-9">
                                @for (int i = 0; i < (int)Model.BookStar; i++)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                @if ((int)Model.BookStar != Model.BookStar)
                                {
                                    <span class="fa fa-star-half-alt checked"></span>
                                    if ((int)Model.BookStar + 1 < 5)
                                    {
                                        for (int i = (int)Model.BookStar; i < 5; i++)
                                        {
                                            <span class="fa fa-star"></span>
                                        }
                                    }

                                }
                                else
                                {
                                    for (int i = (int)Model.BookStar; i < 5; i++)
                                    {
                                        <span class="fa fa-star"></span>
                                    }
                                }
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ISBN)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ISBN)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.img_path)
                        </dt>
                        <dd class="col-sm-9">
                            @*<img src="@Model.img_path" alt="Book Cover" class="img-fluid" />*@
                            @Html.Image(Model.img_path, "Book Cover", new { @class = "img-fluid" })

                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Author.Name)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Author.Name)
                        </dd>

                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Category.Name)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
</p>
